*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: var(--SECOND-BG-COLOR);
    color: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
}
body {
   --BG-COLOR: #1f242d;
   --SECOND-BG-COLOR:#323946;
    --TEXT-COLOR: #fff;
    --MAIN-COLOR: #0ef;
    background-color: var(--BG-COLOR);
    color: var(--TEXT-COLOR);
    text-align: center;
    font-family: sans-serif;
    margin: 0;
}
.hi {
    padding: 0;
    margin-top: 15px;
}
.i-am {
    color: var(--MAIN-COLOR);
}
.about-title {
    font-size: 40px;
    margin-top: 10px;
    padding-bottom: 15px;
}
.profile-pic {
    border-radius: 50%;
    border: 4px solid var(--MAIN-COLOR);
    box-shadow: 0 0 20px var(--MAIN-COLOR);
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px auto;

}
.learning-section {
    margin-top: 50px;
    padding-bottom: 50px;
}
.subtitle {
    color:#aaa;
    font-size: 14px;
    margin-bottom: 30px;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.card {
    background-color: var(--SECOND-BG-COLOR);
    padding: 20px;
    width: 250px;
    border-radius: 15px;
    border: 2px solid transparent;
    transition: 0.3s;
}
.card:hover {
    transform: scale(1.1);
    border-color: var(--MAIN-COLOR);
    box-shadow: 0 0 15px var(--MAIN-COLOR);
}
.card h3 {
    color: var(--MAIN-COLOR);
    margin-bottom: 10px;
}
.card p {
    font-size: 13px;
    line-height: 1.5;
    margin-bottom: 20px;
}
.card a {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: grey;
}
.about-text {
    width: 700px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.about-text p {
    font-size: 18px;
    line-height: 1.6;
    color: #e0e0e0;
}
.content-box {
    display: inline-block;
    text-align: left;
}
.theme-switchers {
    position: fixed;
    top: auto;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 1001;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 50px;
}
.theme-btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid white;
    transition: 0.3s;
}
.theme-btn:hover {
    transform: scale(1.2);
}
.blue-btn {
    background-color: #0ef;
}
.purple-btn {
    background-color: #d633ff;
}
.green-btn {
    background-color: #39ff14;
}
body:has(#theme-purple:checked) {
    --bg-color: #2b102f;
    --MAIN-COLOR: #d633ff;
     --SECOND-BG-COLOR: #7b088a;
     background-color: rebeccapurple;
}
body:has(#theme-green:checked) {
    --bg-color: #000000;
    --MAIN-COLOR: #39ff14;
    background-color: teal;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 10%;
    background: var(--SECOND-BG-COLOR);
    margin-top: 50px;
}
.footer-text p {
    font-size: 16px;
    color: var(--TEXT-COLOR);
}
.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background: var(--MAIN-COLOR);
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    transition: 0.5s ease;
}
.footer-iconTop :hover {
    box-shadow: 0 0 10px var(--MAIN-COLOR);
    transform: scale(1.1);
}